body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Navbar {
    height: 100px;
    width: 100%;
    color: white;
    background: #0027ff;
    display: flex;
    align-items: center;
}

.Navbar a {
    text-decoration: none;
    color: white;
}

.Logo {
    font-size: 25px;
    margin-left: 40px;
}

.JokesList {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

.JokesList li {
    width: 30%;
    color: white;
    background: #0027ff;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}

.JokesList li:hover {
    transform: scale(1.3);
}

.Navbar_Control {
    display: flex;
    text-decoration: none;
    list-style: none;
}

.Navbar_Control li a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
    padding: 10px;
    border-radius: 6px;
    transition: .3s;
}

.Navbar_Control li a:hover {
    background: white;
    color: #0027ff;
}

.HomeContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HomeBanner {
    text-align: center;
    font-size: 40px;

}

.HomeUlLinks {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
    gap: 5px;
}

.HomeUlLinks a {
    text-decoration: none;
    color: black;
}

.WrapperLicense {
    margin: 20px;
    width: 60%;
    border: 2px #0027ff solid;
    padding: 15px;
    border-radius: 10px;
}

.FormLicense {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.DialogItem {
    width: 20%;
    height: 50px;
    padding: 20px;
    background: #c8c8c8;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.DialogItem img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}


